main {
    margin-top: 76px;
    margin-left: 250px;
}

.admin-content {
    margin: 2rem;
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
}

.admin-form-content {
    margin: 21rem;
    margin-top: 7rem;
}

.admin-section {
    margin-top: 1rem;
    background-color: white;
    border-radius: 8px;
    border: #C5C5C6 solid 1px;
}

.admin-section-ul {
    list-style: none;
    width: 100%;
}

.admin-section-item {
    padding: 1rem;
    width: 100%;
    height: 100%;
}

.admin-section-item > a {
    color: black;
    text-decoration: none;
}

.admin-section-item > a:hover {
    text-decoration: underline;
}

.admin-form {
    background-color: white;
    border-radius: 8px;
    padding: 1.5rem;
}
