<!DOCTYPE html>
<html>
<title>CloverShop Checkout</title>
<body>
    <form action="/order/checkout/<%= orderId %>" method="POST">
        <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_51Kuz2UKhcNVCyFMaGkUTPR6aVYZgpNPAx4ukLnZb24yK6EHcW2tHQGkldBjh2zNUpgA2DLc6vjFDfsApyiQ0xJQs00nm2FpW2v"
        data-amount="<%= amount %>"
        data-name="<%= name %>"
        data-description="Payment for <%= name %>"
        data-image=""
        data-locale="auto">
      </script>
      <script>
          var button = document.getElementsByClassName('stripe-button-el')
          button[0].style.display = 'none'
      </script>
      <button type="submit">Pay</button>
    </form>
</body>
</html>