main
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.category-banner
{
    margin-top: 2rem;
    width: 70%;
    background-color: #685f58;
}

.category-banner-content
{
    margin: 4rem;
}

.category-banner-title
{
    margin-bottom: .5rem;
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

.category-banner-description
{
    color: white;
}

.category-content
{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.subcategory-content
{
    width:25%;
    height: inherit;
    align-self:flex-start;
}

.subcategory-title 
{
    text-transform: uppercase;
}

.subcategory-line
{
    width: 90%;
    height: 1px;
    opacity: 0.1;
    background-color: black;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.category-product-container
{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}

.category-product-item
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 33%;
}

/*
    Product styles
*/

.category-product-image 
{
    height: 250px;
    width: 250px;
    background-color: #f6f6f6;
}

.category-product-title
{
    width: 250px;
    margin-top: 1rem;
    font-weight: 700;
}

.category-product-link
{
    color: black;
    text-decoration: none;
}

.category-product-price
{
    width: 250px;
    margin-top: .5rem;
    margin-bottom: 2rem;
}

/* Media screens */

@media screen and (max-width: 1230px) {
    .category-banner
    {
        width: 90%;
    }

    .category-content
    {
        width: 90%;
    }

    .category-product-container
    {
        width: 100%;
        margin-left: 0;
    }

    .category-product-item
    {
        flex: 33%;
        align-items: center;
    }

}

@media screen and (max-width: 1020px) {

    .category-product-item
    {
        flex: 50%;
    }

}

@media screen and (max-width: 780px) {
    .subcategory-content
    {
        display: none;
    }
}

@media screen and (max-width: 350px) {
    .category-banner-content
    {
        margin: 2rem;
    }
}